.social-networks {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: inline-block;

    li {
        margin: 0px 12px 0px 0px;
        display: inline-block;

        a {
            color: #FFF;
            display: block;
        }
    }
}

.breadcrumb {
    color: $black;
    background: transparent;
    padding-left: 0px;
    padding-right: 0;

    a {
        font-weight: bold;
        color: #3a3a3a;
    }
    i{
        margin: 0px 10px;
        line-height: 1.5;
    }
}

.loading {
    color: #00aeef;
    font-size: rem(30);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-top: 30%;
    display: none;
}

.custom-checkbox {
    margin: 0px;
    display: inline-block;
    position: relative;
    input[type="checkbox"] {
        position: absolute;
        right: 9000px;
        opacity: 0;
        cursor: pointer;
    }
    .checkmark {
        position: absolute;
        top: -5px;
        left: 0;
        height: 30px;
        width: 30px;
        background-color: #f5f5f5;
        border: solid 2px $orange;
        border-radius: 5px;
        &:after {
            content: "";
            position: absolute;
            display: none;
        }
    }
    label {
        padding-left: 35px;
        &:hover input~.checkmark {
            background-color: #f5f5f5;
        }
        /* input:checked~.checkmark {
            background-color: #FFF;
            border-color: #2ebf0d;
        } */
        input:checked~.checkmark:after {
            display: block;
        }
        .checkmark:after {
            left: 9px;
            top: 4px;
            width: 8px;
            height: 16px;
            border: solid $orange;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}