header {
    position: relative;
    z-index: 10;

    nav {
        background-image: url('../images/header.png');
        background-repeat: no-repeat;
        background-position: top right;
        background-color: #ff7400 !important;
        padding-top: .8rem;
        padding-bottom: 2.1rem;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
        transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;

        ul.navbar-nav {
            @include media-breakpoint-down(xs) {
                margin-top: 15px;
                padding-bottom: 15px;
            }

            li {
                @include media-breakpoint-down(xs) {
                    display: block;
                    text-align: center;
                    font-size: rem(20);
                    margin-bottom: 10px;
                }

                a {
                    color: #FFF;
                    padding-right: .5rem;
                    padding-left: .5rem;
                }
            }
        }

        .toggler {
            position: absolute;
            right: 30px;
            top: rem(30);
            padding: 0;
            border: 0;
            width: rem(27);
            height: rem(17);
            z-index: 12;
            outline: none;
            cursor: pointer;
            background: transparent;
            appearance: none;
            -moz-appearance: none;
            -ms-progress-appearance: none;
            -webkit-appearance: none;
            transition: all ease-in-out 0.333s;

            span {
                position: absolute;
                height: 2px;
                width: 100%;
                background: #fff;
                left: 0;
                right: 0;
                margin: auto;

                &:first-child {
                    top: 0;
                }

                &:nth-child(2) {
                    top: 0;
                    bottom: 0;
                }

                &:last-child {
                    bottom: 0;
                }
            }
        }
    }
    &.sticky{
        nav{
            -webkit-clip-path: polygon(0 0,100% 0,100% 80%,0 80%);
            clip-path: polygon(0 0,100% 0,100% 80%,0 80%);
            padding-top: 0rem;
            padding-bottom: 1.5rem;
            .toggler{
                top: 20px;
            }
        }
    }
}