&.home {
    section {
        display: block;
        position: relative;

        &.team {
            background: url('../images/bg-azul.png') no-repeat center center;
            background-size: 100% auto;
            z-index: 2;
            margin: 0px 0px 80px;

            @include media-breakpoint-down(xs) {
                background-size: cover;
                padding-top: 30px;
            }

            .the-content {
                h2 {
                    color: #FFF;
                    font-size: rem(55);
                    font-weight: 900;
                    text-transform: uppercase;

                    @include media-breakpoint-down(xs) {
                        font-size: rem(40);
                    }
                }

                p {
                    color: #FFF;
                }
            }

            figure {
                margin: 0;
                position: relative;
                top: 55px;
            }
        }

        &.whatIs {
            h2 {
                font-size: rem(46);
                font-weight: 900;
                text-transform: uppercase;
                color: $orange;
                @include media-breakpoint-down(xs) {
                    font-size: rem(32);
                }
            }
        }

        &.modules {
            .description {
                p {
                    font-size: rem(26);
                    @include media-breakpoint-down(xs) {
                        font-size: rem(18);
                    }
                }
            }

            .tax-list {
                .item {
                    height: 100%;

                    figure {
                        margin: 0;

                        a {
                            display: block;

                            img {
                                position: relative;
                                right: -30px;
                                @include media-breakpoint-down(xs) {
                                    right: 0px;
                                    margin-bottom: 15px;
                                }
                            }
                        }
                    }

                    h3 {
                        font-size: rem(16);

                        span {
                            background: #1da4de;
                            display: inline-block;
                            width: 24px;
                            height: 24px;
                            line-height: 21px;
                            text-align: center;
                            border-radius: 100px;
                        }

                        a {
                            color: #000;

                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }

                    p {
                        font-size: rem(11);
                    }

                    .btn-orange {
                        background: $orange;
                        color: #FFF;
                        font-size: rem(12);
                        border-radius: 10px;

                        i {
                            position: relative;
                            margin-right: 20px;

                            &:after {
                                content: "";
                                background: #ff9929;
                                display: block;
                                width: 1px;
                                height: 31px;
                                position: absolute;
                                top: -10px;
                                right: -10px;
                            }
                        }
                    }
                }
            }
        }
    }
}