&.page-template-login {
    .content {
        display: block;
        margin-top: 50px;

        p {
            color: #000000;
            font-weight: 500;
            text-align: justify;
        }
    }

    #loginform-custom {
        border: solid 4px $orange;
        border-radius: 30px;
        padding: 20px 20px;
        margin-bottom: 80px;
        margin-top: 20px;

        .login-username,
        .login-password {
            label {
                display: block;
                font-size: rem(20);
            }

            .input {
                display: block;
                width: 100%;
                background: #f7f7ad;
                border: 3px $orange solid;
                border-radius: 10px;
                padding: 10px;
                outline: none;
            }
        }

        .login-remember {
            @extend .custom-checkbox;
            margin-bottom: 15px;
            margin-top: 10px;
        }

        .login-submit {
            text-align: center;

            .button {
                background: $orange;
                border: none;
                border-radius: 100px;
                padding: 10px 60px;
                color: #FFF;
                box-shadow: 2px 3px 10px 0px #a5a5a5;
                appearance: none;
                -moz-appearance: none;
                -ms-progress-appearance: none;
            }

        }
    }
}