@import "../bower_components/boostrap/scss/bootstrap.scss";
@import "modules/variables";
@import "modules/functions";
@import "modules/typography";
@import "modules/mixins";
@import "vendor/bootstrap";
@import "vendor/flickity";
@import "vendor/wpcf7";
@import "modules/btns";

body {
    margin: 0px;
    padding: 0px;
    display: block;
    width: 100%;
    background: #333;
    font-size: $browser-context + px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $regular;
    color: black;

    @include media-breakpoint-down(sm) {
        font-size: 12px;
    }
}

.general-wrapper {
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    @import "views/main";

    #main-wrapper {
        display: block;
        margin: 0px;
        padding: 125px 0px 0px 0px;
        width: 100%;
        position: relative;
        float: left;
        background: white;

        @include media-breakpoint-down(lg) {
            padding-top: 74px;
        }

        @include media-breakpoint-down(md) {
            padding-top: 68px;
        }
    }

    &.overlay-open {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 20;
    left: 0;
    background: rgba(255, 116, 0, 0.95);

    .overlay-close {
        color: #FFF;
        width: 80px;
        height: 80px;
        position: absolute;
        right: 20px;
        top: 20px;
        overflow: hidden;
        font-size: rem(50);
        font-weight: 100;
        border: none;
        outline: none;
        z-index: 100;
        background: transparent;
        cursor: pointer;
        appearance: none;
        -ms-progress-appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
    }

    nav {
        text-align: center;
        position: relative;
        top: 50%;
        height: 60%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);

        @media screen and (max-height: 30.5em) {
            height: 70%;
            font-size: 34px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0 auto;
            display: inline-block;
            height: 100%;
            position: relative;
            text-align: right;
            text-transform: uppercase;

            li {
                display: block;
                height: 20%;
                height: calc(100% / 5);
                min-height: 54px;

                @include media-breakpoint-down(xs){
                    min-height: rem(30);
                    height: auto;
                }

                a {
                    font-size: rem(54);
                    padding-right: 15px;
                    font-weight: 600;
                    display: block;
                    color: #fff;
                    position: relative;
                    left: 0px;
                    overflow: hidden;
                    -webkit-transition: all 0.4s ease;
                    transition: all 0.4s ease;
                    @include media-breakpoint-down(xs){
                        font-size: rem(30);
                    }

                    &:after {
                        content: "";
                        display: block;
                        width: 4px;
                        height: 100%;
                        position: absolute;
                        right: 0px;
                        top: -100%;
                        background: #FFF;
                        -webkit-transition: all 0.4s ease;
                        transition: all 0.4s ease;
                    }

                    &:hover,
                    &:focus {
                        color: #f0f0f0;
                        text-decoration: none;
                        left: -15px;

                        &:after {
                            top: 0px;
                        }
                    }
                }
            }
        }
    }

    &.overlay-contentscale {
        visibility: hidden;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        -webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
        transition: transform 0.5s, visibility 0s 0.5s;

        &.open-o {
            visibility: visible;
            -webkit-transform: translateY(0%);
            transform: translateY(0%);
            -webkit-transition: -webkit-transform 0.5s;
            transition: transform 0.5s;
        }
    }
}