&.post-type-archive-glosario {
    h1 {
        font-size: rem(46);
        font-weight: 900;
        text-transform: uppercase;
        color: $orange;

        @include media-breakpoint-down(xs) {
            font-size: rem(32);
        }
    }

    .item {
        h4 {
            color: $black;
            font-weight: bold;
            font-size: rem(21);
        }

        p {
            color: $black;
            font-size: rem(12);
            line-height: 15px;
        }
    }
}