&.category {
    #main-wrapper {
        padding-top: 70px;
    }

    .hero-banner {
        display: block;
        padding: 0;
        margin: 0;
        position: relative;

        @include media-breakpoint-down(xs){
            height: 350px;
        }

        >img {
            position: relative;
            z-index: 1;
            @include media-breakpoint-down(xs){
                object-fit: cover;
                -o-object-fit: cover;
                height: 100%;
            }
        }

        .the-content {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 5;
            color: #FFF;

            h1 {
                font-weight: 900;
                font-size: rem(55);
                margin: 0 0 10px;
                text-transform: uppercase;
                @include media-breakpoint-down(xs){
                    font-size: rem(40);
                }
            }

            p {
                font-size: rem(16);
                line-height: 24px;
            }
        }
    }

    .intro-modulo {
        display: block;
        margin-bottom: 30px;
        h2 {
            text-transform: uppercase;
            color: #333333;
            font-size: rem(25);
            font-weight: 900;
            @include media-breakpoint-down(xs){
                font-size: rem(20);
            }
        }

        p,
        ul,
        ol {
            color: #333333;
            font-size: rem(16);
        }

        ol {
            padding: 0px;
            list-style: none;
            li {
                counter-increment: li;
                position: relative;
                margin-bottom: 15px;
                padding-left: 35px;
                &:before{
                    content: counter(li);
                    background: $blue;
                    font-size: 19px;
                    color: #FFF;
                    font-weight: 900;
                    text-align: center;
                    display: block;
                    width: 28px;
                    height: 28px;
                    border-radius: 100px;
                    position: absolute;
                    top: 0px;
                    left: 0;
                }
            }
        }
    }
    .articles-list{
        h5{
            text-transform: uppercase;
            color: $black;
            font-size: rem(25);
            font-weight: 900;
            display: block;
            width: 100%;
            border-bottom: solid $blue 4px;
            margin-bottom: 40px;
        }
        article{
            figure{
                margin: 0;
                display: block;
                position: relative;
                @include media-breakpoint-down(xs){
                    margin-bottom: 20px;
                }
                .btn-orange {
                    background: $orange;
                    color: #FFF;
                    font-size: rem(12);
                    width: 70%;
                    border-radius: 10px;
                    margin: 0px auto;
                    position: absolute;
                    z-index: 2;
                    pointer-events: none;
                    left: 0px;
                    right: 0px;
                    top: 45%;

                    i {
                        position: relative;
                        margin-right: 20px;

                        &:after {
                            content: "";
                            background: #ff9929;
                            display: block;
                            width: 1px;
                            height: 31px;
                            position: absolute;
                            top: -10px;
                            right: -10px;
                        }
                    }
                }
            }
            a{
                display: block;
                &:hover{
                    text-decoration: none;
                }
            }
            h3{
                a{
                    color: $black;
                    font-weight: bold;
                    font-size: rem(21);
                }
            }
            p{
                a{
                    color: $black;
                    font-size: rem(12);
                    line-height: 15px;
                }
            }
        }
    }
}