&.single-ejercicios {
    .content {
        display: block;
        width: 100%;
        margin: 0px 0px 50px;

        h1{
            font-size: rem(45);
            font-weight: 900;
            color: #333333;
            text-transform: uppercase;
        }


        h2 {
            font-size: rem(25);
            font-weight: 900;
            color: #333333;
            text-transform: uppercase;
        }

        article {
            display: block;
            height: 100%;
            position: relative;
            p,
            ul {
                font-size: rem(14);

                strong,
                b {
                    color: #3c94c6;
                    font-weight: 900;
                }
            }

            ul {
                padding-left: 30px;

                li {
                    list-style: none;
                    display: block;
                    position: relative;
                    margin-bottom: 10px;

                    &:before {
                        content: "\2022";
                        color: #3c94c6;
                        font-size: 50px;
                        position: absolute;
                        left: -15px;
                        top: 0px;
                        line-height: 0.2;
                    }
                }
            }
        }

        img {
            @extend .img-fluid;
        }
    }
}