&.single-modulos {
    #main-wrapper {
        padding-top: 0px;
    }

    .hero-banner {
        display: block;
        padding: 0;
        margin: 0;
        position: relative;

        @include media-breakpoint-down(xs){
            height: 500px;
        }
        >img {
            position: relative;
            z-index: 1;
            @include media-breakpoint-down(xs){
                height: 100%;
                object-fit: cover;
                -o-object-fit: cover;
            }
        }

        .the-content {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 5;
            color: #FFF;

            h1 {
                font-weight: 900;
                text-transform: uppercase;
                font-size: rem(55);
                margin: 0;
                text-align: left;
                line-height: rem(46);
                @include media-breakpoint-down(xs){
                    font-size: rem(35);
                }
            }

            h2 {
                text-align: left;
                text-transform: uppercase;
                font-weight: 900;
                font-size: rem(25);
                @include media-breakpoint-down(xs){
                    font-size: rem(20);
                }
            }

            .thumb {
                position: relative;
                top: 30px;
                @include media-breakpoint-down(xs){
                    top: 0px;
                }
            }
        }
    }

    .content {
        display: block;
        width: 100%;
        margin: 60px 0px 50px;

        .intro-module {
            display: block;
            width: 100%;
            margin-bottom: 50px;

            p {
                line-height: 33px;
                font-size: rem(25);
                color: #333333;
            }
        }

        h2 {
            font-size: rem(25);
            font-weight: 900;
            color: #333333;
            text-transform: uppercase;
        }

        article {
            display: block;
            height: 100%;
            position: relative;

            /* &:after {
                content: "";
                display: block;
                width: 1px;
                position: absolute;
                height: 95%;
                background: #c6c6c6;
                bottom: 0px;
                right: -45px;
            } */

            p,
            ul {
                font-size: rem(14);

                strong,
                b {
                    color: #3c94c6;
                    font-weight: 900;
                }
            }

            ul {
                padding-left: 30px;

                li {
                    list-style: none;
                    display: block;
                    position: relative;
                    margin-bottom: 10px;

                    &:before {
                        content: "\2022";
                        color: #3c94c6;
                        font-size: 50px;
                        position: absolute;
                        left: -15px;
                        top: 0px;
                        line-height: 0.2;
                    }
                }
            }
        }

        img {
            @extend .img-fluid;
        }
    }

    aside {
        h3 {
            color: $black;
            text-transform: uppercase;
            font-weight: 900;
        }

        .item {
            display: block;
            position: relative;
            padding-left: 15px;
            &:before{
                content: "";
                display: block;
                width: 5px;
                height: 100%;
                position: absolute;
                background: $black;
                top: 0px;
                left: 0px;
            }
            h4 {
                display: block;
                width: 100%;
                margin: 0 0 10px;
                a {
                    display: block;
                    color: $black;
                    font-weight: bold;
                    font-size: rem(16);
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
            p{
                margin: 0;
                color: $black;
            }
            a{
                color: $black;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
}