.btn-border-white {
    border: solid 1px #FFF;
    color: #FFF;
    font-weight: 900;
    font-size: rem(14);
    border-radius: 0px;
    &:hover {
        text-decoration: none;
        color: #000;
        background: #FFF;
    }
}

.btn-purple {
    border: solid 1px $purple;
    color: #FFF;
    font-weight: 900;
    font-size: rem(14);
    border-radius: 0px;
    background: $purple;
    letter-spacing: le(40);
    &:hover,
    &:focus {
        text-decoration: none;
        background: #FFF;
        color: $purple;
    }
}

.btn-border-gray {
    color: #3a3a3a;
    border-color: #3a3a3a;
    font-size: rem(14);
    font-weight: 900;
    text-transform: uppercase;
    &:hover {
        background: #3a3a3a;
        color: #FFF;
    }
}

.btn-orange{
    background: $orange;
    color: #FFF;
    border-radius: 10px;
    &:hover {
        background: $orange;
        color: #FFF;
    }
}