@mixin placeholderColor($color) {
    &::-webkit-input-placeholder {
        color: $color;
    }
    &:-moz-placeholder {
        color: $color;
    }
    &::-moz-placeholder {
        color: $color;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
}

@mixin title($size) {
    font-family: $fira;
    font-size: rem($size);
    font-weight: 900;
    font-style: italic;
    color: $gray;
    margin: 0px;
}