$browser-context: 16;

/*Typography*/
$regular: 'Montserrat', sans-serif;
$fira: 'Fira Sans Extra Condensed', sans-serif;

/* Colors */
$gray: #3a3a3a;
$blue: #4bb5e2;
$purple: #39446a;
$border-gray: #e8e8e8;
$bg-gray: #fafafa;
$orange: #ed891d;
$black: #333333;